<p>To make this websites work properly, we sometimes place small data files called cookies on your device.</p>

<h2>What are cookies?</h2>

<p>A cookie is a small text file that a website stores on your computer or mobile device when you visit the site.</p>

<ul>
    <li><strong>First party cookies</strong>&nbsp;are cookies set by the website you are visiting. Only that website can read them. In addition, a website might potentially use external services, which also set their own cookies, known as&nbsp;<strong>third-party cookies</strong>.</li>
    <li><strong>Persistent cookies</strong>&nbsp;are cookies saved on your computer and that are not deleted automatically when you quit your browser,&nbsp;<strong>unlike a session cookie</strong>, which is deleted when you quit your browser.</li>
</ul>

<p>Every time you visit this website, you will be prompted to&nbsp;<strong>accept or refuse cookies</strong>.</p>

<p>The purpose is to enable the site to remember your preferences (such as user name, language, etc.) for a certain period of time. That way,&nbsp;<strong>you do not have to re-enter them</strong>&nbsp;when browsing around the site during the same visit.</p>

<p>Cookies can also be used to establish anonymised statistics about the browsing experience on our sites.</p>

<h3>Visitor preferences</h3>

<p>These are set by us and only we can read them. They remember if you have agreed to (or refused) this site’s cookie policy.&nbsp;</p>

<p><strong>Visitor preferences cookies are:</strong></p>

<p><strong>Name:</strong> cookie-agreed</p>

<p><strong>Service</strong>: Cookie consent kit</p>

<p><strong>Purpose</strong>: Stores your cookie preferences (so you won’t be asked again)</p>

<p><strong>Cookie type and duration</strong>: First-party persistent cookie, 3 months</p>

<p>&nbsp;</p>

<p><strong>Name:</strong> cookie-agreed-version</p>

<p><strong>Service</strong>: Cookie consent kit</p>

<p><strong>Purpose</strong>: Stores the version of cookie preferences</p>

<p><strong>Cookie type and duration</strong>: First-party persistent cookie, 3 months</p>

<p>&nbsp;</p>

<h3>Analytics cookies</h3>

<p>We use these purely for internal research on how we can improve the service we provide for all our users.</p>

<p>The cookies simply assess how you interact with our website – as an anonymous user (they&nbsp;<strong>data gathered does not identify you personally</strong>).</p>

<p>Also, this data is&nbsp;<strong>not shared with any third parties</strong>&nbsp;or used for any other purpose. The anonymised statistics could be shared with the <a href="/partners">Consortium Partners</a>&nbsp;or with the European Commission.</p>

<p><strong>Analytics cookies</strong>&nbsp;are:</p>

<p><strong>Name</strong>: _pk_id#</p>

<p><strong>Service</strong>: Corporate web analytics service, based on Matomo open source software</p>

<p><strong>Purpose</strong>: Recognises website visitors (<strong>anonymously</strong>&nbsp;– no personal information is collected on the user)</p>

<p><strong>Cookie type and duration</strong>: First-party persistent cookie, 13 months</p>

<p><br />
<strong>Name</strong>: _pk_ses#</p>

<p><strong>Service</strong>: Corporate web analytics service, based on Matomo open source software</p>

<p><strong>Purpose</strong>: Identifies the pages viewed by the same user during the same visit. (<strong>anonymously</strong>&nbsp;– no personal information is collected on the user)</p>

<p><strong>Cookie type and duration</strong>: First-party persistent cookie, 30 minutes</p>

<p>&nbsp;</p>
